---
import { Header, Button, Footer } from '@components/odyssey-theme';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';


export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout seo={seo}>
	<Header rightMenu navData={nav} slot="header">
  <span slot="logo">
    <Logo size="large" />
  </span>
</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
  slot="footer"
  background="var(--theme-surface-1)"
  color="var(--theme-on-surface-1)"
  footerLists={footerLists ?? []}
  footerSocials={footerSocials ?? []}
  copyrightName={settings.name}
  showPlug={settings.showPlug}
>
  <div slot="logo" class="footer-logos">
    <img src="/odyssey-theme/assets/footer-logos/TitleCol.jpg" alt="EvOCRO" />
    <img src="/odyssey-theme/assets/footer-logos/eulogo.png" alt="European Union" />
    <img src="/odyssey-theme/assets/footer-logos/msca.png" alt="MSCA" />
    <img src="/odyssey-theme/assets/footer-logos/aru.png" alt="ARU" />
  </div>
</Footer>
</Layout>
